body{
  background-image: -webkit-linear-gradient(45deg, #A683E3 50%, #ffc93c 50%);
}
header{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
}
header ul{
    margin-top: 20px;
    margin-left: auto;
    list-style: none;
    padding-right: 10%;
}
header ul li{
    display: inline;
    margin-right: 100px;
    /* color: #A683E3; */
}
header ul li a{
    text-decoration: none;
    font-size: 1.1rem;
}
.box{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.image, .text{
    width: 100%;
    padding: 40px;
    text-align: left;
}
.image{
    object-fit: contain;
    padding: 20px;
}
.logo{
    width:100px;
     height:100px; 
     margin-left: 10%;
}
#firstimage{
    width: 100%;
    height: 100%;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
   line-height: 10vh;
   font-size: 1.3rem;
}
.inner{
    margin:10%;
}
span{
    font-weight: bold;
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
}
.burger{
    display: none;
} 
hr{
    border: dashed;
    width: 10%;
    padding: 5px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: #A683E3;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: burlywood;
}
.skill{
    width: 250px;
    height: 250px;
    padding: 10px;
}
section{
    text-align: center;
}
.projects{
    /* width: 100%; */
    padding:40px;
    background-color: teal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.project{
    width: 30%;
    padding: 20px;
    height: 75%;
    text-align: left;
}
.project img{
    width: 100%;
}
.speech{
    text-align: center;
    padding: 40px;
}
.speech p{
    text-align: left;
    word-spacing: 2px;
    letter-spacing: 1px;

}
footer{
    background-color: black;
    color: wheat;
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
}
footer ul li:hover {
    cursor: pointer;
    color: orange;
}

@media (max-width:600px){
    .project{
        height: 250px;
    }
    .skill{
        height: 100px;
        width: 100px;
    }
    header ul{
        display: none;
    }
    .burger{
        margin-left: auto;
        display: block;
        padding: 20px;
    }
    .burger:hover{
        cursor: pointer;
    }
    header ul.active{
        display: block;
        width: 100%;
        margin-top: 200px;
        background-color: black;
        z-index: 2;
        margin-bottom: 20px;
    }
    .slice{
        width: 50px;
        height : 2px;
        background-color: #A683E3;
        margin: 5px;
    }
    .text{
        margin-left: -20px;
        font-size: 1rem;
        line-height: 5vh;
    }
    footer{
        flex-direction: column;
    }
    span{
        font-size: 2rem;
    }
    .inner{
        margin: 0%;
    }
    .logo{
        margin-left: 10%;
        width:50px;
         height:50px; 
    }
}